/*
**/.env
**/.turbo
**/dist
**/node_modules

!.env.template
!.gitignore
!.npmrc
!.nvmrc
!.prettierrc
!compose.yaml
!eslint.config.js
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.*
!turbo.json
!.vscode/
!flake.nix
!flake.lock

!src/

